<!--api/v1/views/products edit.handlebars -->

<h1>עריכת מוצר</h1>

{{!-- מציג הודעת שגיאה אם יש קלטל א תקין --}}
{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}

<form method="post" action="/products/{{product._id}}">
  <label>שם מוצר</label><br />
  <input name="name" value="{{product.name}}" /><br /><br />

  <label>מחיר</label><br />
  <input name="price" type="number" step="0.01" value="{{product.price}}" /><br /><br />

  <label>יחידות</label><br />
  <input name="unit" value="{{product.unit}}" />


  <button type="submit">עדכן</button>
</form>
