<!--api/v1/views/products index.handlebars -->

<div class="row-between">
  <div>
    <h1 class="h1">המוצרים שלי</h1>
    <p class="p">ניהול מוצרים </p>
  </div>
  <a class="btn btn-primary" href="/products/new">+ הוסף מוצר</a>
</div>

<br/>

{{!-- מציג טבלה אחרת מציג הודעת ריק product אם קחיימות מוצרים במערך --}}
{{#if products.length}}
  <table class="table">
    <tr>
      <th>שם</th>
      <th>מחיר</th>
      <th>יחידה</th>
      <th>פעולות</th>
    </tr>
    {{!-- לולאה על מערך המוצאים ומציגה שם מחיר ויחידה לכל מוצר --}}
    {{#each products}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{formatMoney this.price}}</td>
        <td>{{this.unit}}</td>
        <td>
          {{!-- GET /products/:id/edit כפתור לעריכת מוצר לפי --}}
          <a class="btn" href="/products/{{this._id}}/edit">עריכה</a> 
          <form method="post" action="/products/{{this._id}}/delete" style="display:inline;">
            {{!-- POST id כפתור מחיקת מוצר לפי --}}
            <button class="btn btn-danger" type="submit">מחיקה</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </table>
  {{!-- מציג הודעה אין מוצרים כאשר המערך ריק --}}
{{else}}
  <div class="empty">אין מוצרים עדיין. לחץ “הוסף מוצר”.</div>
{{/if}}